---
import Footer from "@components/footer/footer.astro";
import MediaInfoCard from "@components/media-info-card.astro";
import PersonCarousel from "@components/person-carousel/person-carousel.astro";
import TvHero from "@components/tv-hero.astro";
import { tmdb } from "@integrations/tmdb";
import { mediaIdSchema } from "@integrations/valibot/schema";
import Layout from "@layouts/layout.astro";
import { paths } from "@paths";
import { z } from "astro/zod";

export const prerender = false;

const getData = async () => {
  const parseResult = await z
    .object({ tvId: mediaIdSchema })
    .safeParseAsync(Astro.params);

  if (!parseResult.success) {
    return null;
  }

  const context = tmdb.getTMDBContext();

  try {
    const tvShow = await tmdb.getTvShow({
      context,
      id: parseResult.data.tvId,
    });

    return tvShow;
  } catch {
    throw null;
  }
};

const tvShow = await getData();

if (!tvShow) {
  return Astro.redirect(paths.notFound);
}
---

<Layout>
  <div class="flex max-h-screen flex-col overflow-y-scroll">
    <TvHero media={tvShow} />
    <MediaInfoCard media={tvShow} />
    <PersonCarousel collection={tvShow?.credits?.cast || []} title="Cast" />
    <Footer />
  </div>
</Layout>
