---
import Footer from "@components/footer/footer.astro";
import { Link } from "@components/link";
import MediaCarousel from "@components/media-carousel.astro";
import TvHero from "@components/tv-hero.astro";
import { tmdb } from "@integrations/tmdb";
import { getListItem } from "@integrations/tmdb/format";
import Layout from "@layouts/layout.astro";
import { paths } from "@paths";

export const prerender = false;

const getData = async () => {
  const context = tmdb.getTMDBContext();

  const [popular, topRated, onTheAir, airingToday] = await Promise.all([
    tmdb.getTvShows({ context, page: 1, query: "popular" }),
    tmdb.getTvShows({ context, page: 1, query: "top_rated" }),
    tmdb.getTvShows({ context, page: 1, query: "on_the_air" }),
    tmdb.getTvShows({ context, page: 1, query: "airing_today" }),
  ]);

  const random = tmdb.getRandomMedia({
    collections: [popular, topRated, onTheAir, airingToday],
  });

  return { airingToday, onTheAir, popular, random, topRated };
};

const { airingToday, onTheAir, popular, random, topRated } = await getData();
---

<Layout>
  <div class="flex max-h-screen flex-col gap-4 overflow-y-scroll">
    <Link client:idle href={paths.media("tv", random?.id)}>
      <TvHero media={random} />
    </Link>
    <MediaCarousel
      collection={popular?.results || []}
      title={getListItem({ query: "popular", type: "tv" })}
      viewAllHref={paths.tvCategory("popular")}
    />
    <MediaCarousel
      collection={topRated?.results || []}
      title={getListItem({ query: "top_rated", type: "tv" })}
      viewAllHref={paths.tvCategory("top_rated")}
    />
    <MediaCarousel
      collection={onTheAir?.results || []}
      title={getListItem({ query: "on_the_air", type: "tv" })}
      viewAllHref={paths.tvCategory("on_the_air")}
    />
    <MediaCarousel
      collection={airingToday?.results || []}
      title={getListItem({ query: "airing_today", type: "tv" })}
      viewAllHref={paths.tvCategory("airing_today")}
    />
    <Footer />
  </div>
</Layout>
