---
import Footer from "@components/footer/footer.astro";
import { Link } from "@components/link";
import MediaCarousel from "@components/media-carousel.astro";
import MovieHero from "@components/movie-hero.astro";
import { tmdb } from "@integrations/tmdb";
import { getListItem } from "@integrations/tmdb/format";
import Layout from "@layouts/layout.astro";
import { paths } from "@paths";

export const prerender = false;

const getData = async () => {
  const context = tmdb.getTMDBContext();

  const [popular, topRated, nowPlaying] = await Promise.all([
    tmdb.getMovies({ context, page: 1, query: "popular" }),
    tmdb.getMovies({ context, page: 1, query: "top_rated" }),
    tmdb.getMovies({ context, page: 1, query: "now_playing" }),
  ]);

  const random = tmdb.getRandomMedia({
    collections: [popular, topRated, nowPlaying],
  });

  return { nowPlaying, popular, random, topRated };
};

const { nowPlaying, popular, random, topRated } = await getData();
---

<Layout
  ><div class="flex max-h-screen flex-col gap-4 overflow-y-scroll">
    {
      random ? (
        <Link client:idle href={paths.media("movie", random.id)}>
          <MovieHero media={random} />
        </Link>
      ) : null
    }
    <MediaCarousel
      collection={popular?.results || []}
      title={getListItem({ query: "popular", type: "movie" })}
      viewAllHref={paths.movieCategory("popular")}
    />
    <MediaCarousel
      collection={topRated?.results || []}
      title={getListItem({ query: "top_rated", type: "movie" })}
      viewAllHref={paths.movieCategory("top_rated")}
    />
    <MediaCarousel
      collection={nowPlaying?.results || []}
      title={getListItem({ query: "now_playing", type: "movie" })}
      viewAllHref={paths.movieCategory("now_playing")}
    />
    <Footer />
  </div></Layout
>
