---
import { paths } from "@awfe/paths";
import Footer from "../components/footer/footer.astro";
import MediaCarousel from "../components/media-carousel.astro";
import MovieHero from "../components/movie-hero.astro";
import TvHero from "../components/tv-hero.astro";
import { getListItem } from "../integrations/tmdb/format";
import {
  getRandomMedia,
  getTMDBContext,
  getTrendingMovie,
  getTrendingTv,
} from "../integrations/tmdb/services";
import type { MovieBase, TvBase } from "../integrations/tmdb/types";
import Layout from "../layouts/layout.astro";

export const prerender = false;

const getData = async () => {
  const context = getTMDBContext();

  const [movies, tv] = await Promise.all([
    getTrendingMovie({ context, page: 1 }),
    getTrendingTv({ context, page: 1 }),
  ]);

  const random = getRandomMedia<MovieBase | TvBase>({
    collections: [tv, movies],
  });

  return { movies, random, tv };
};

const { movies, random, tv } = await getData();
---

<Layout>
  <div class="flex max-h-screen flex-col gap-4 overflow-y-scroll">
    {
      random.media_type === "tv" ? (
        <a href={paths.media("tv", random.id)}>
          <TvHero media={random} />
        </a>
      ) : null
    }
    {
      random.media_type === "movie" ? (
        <a href={paths.media("movie", random.id)}>
          <MovieHero media={random} />
        </a>
      ) : null
    }
    <MediaCarousel
      collection={movies?.results || []}
      title={getListItem({ query: "trending", type: "movie" })}
      viewAllHref={paths.movieCategory("trending")}
    />
    <MediaCarousel
      collection={tv?.results || []}
      title={getListItem({ query: "trending", type: "tv" })}
      viewAllHref={paths.tvCategory("trending")}
    />
    <Footer />
    <button class="alert font-bold underline">Click me!</button>
  </div>
</Layout>

<script is:inline={false}>
  // Find all buttons with the `alert` class on the page.
  const buttons = document.querySelectorAll("button.alert");

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      alert("Button was clicked!");
    });
  });
</script>
