---
import { paths } from "@awfe/paths";
import Footer from "../components/footer/footer.astro";
import { Link } from "../components/link.tsx";
import MediaCarousel from "../components/media-carousel.astro";
import MovieHero from "../components/movie-hero.astro";
import TvHero from "../components/tv-hero.astro";
import { tmdb } from "../integrations/tmdb";
import { getListItem } from "../integrations/tmdb/format";
import type { MovieBase, TvBase } from "../integrations/tmdb/types";
import Layout from "../layouts/layout.astro";

export const prerender = false;

const getData = async () => {
  const context = tmdb.getTMDBContext();

  const [movies, tv] = await Promise.all([
    tmdb.getTrendingMovie({ context, page: 1 }),
    tmdb.getTrendingTv({ context, page: 1 }),
  ]);

  const random = tmdb.getRandomMedia<MovieBase | TvBase>({
    collections: [tv, movies],
  });

  return { movies, random, tv };
};

const { movies, random, tv } = await getData();
---

<Layout>
  <div class="flex max-h-screen flex-col gap-4 overflow-y-scroll">
    {
      random.media_type === "tv" ? (
        <Link client:idle href={paths.media("tv", random.id)}>
          <TvHero media={random} />
        </Link>
      ) : null
    }
    {
      random.media_type === "movie" ? (
        <Link client:idle href={paths.media("movie", random.id)}>
          <MovieHero media={random} />
        </Link>
      ) : null
    }
    <MediaCarousel
      collection={movies?.results || []}
      title={getListItem({ query: "trending", type: "movie" })}
      viewAllHref={paths.movieCategory("trending")}
    />
    <MediaCarousel
      collection={tv?.results || []}
      title={getListItem({ query: "trending", type: "tv" })}
      viewAllHref={paths.tvCategory("trending")}
    />
    <Footer />
  </div>
</Layout>
