---
import { paths } from "@awfe/paths";
import { z } from "astro/zod";
import Footer from "../../components/footer/footer.astro";
import MediaCardList from "../../components/media-card-list.astro";
import { MediaGrid } from "../../components/media-grid";
import PersonHero from "../../components/person-hero.astro";
import { getPerson, getTMDBContext } from "../../integrations/tmdb/services";
import { mediaIdSchema } from "../../integrations/valibot/schema";
import Layout from "../../layouts/layout.astro";

export const prerender = false;

const getData = async () => {
  const parseResult = await z
    .object({ personId: mediaIdSchema })
    .safeParseAsync(Astro.params);

  if (!parseResult.success) {
    return null;
  }

  const context = getTMDBContext();

  try {
    const person = await getPerson({ context, id: parseResult.data.personId });
    return person;
  } catch {
    return null;
  }
};

const person = await getData();

if (!person) {
  return Astro.redirect(paths.notFound);
}

const collection = [
  ...(person.combined_credits?.cast || []),
  ...(person.combined_credits?.crew || []),
];
---

<Layout>
  <div class="max-h-screen overflow-y-scroll flex flex-col">
    <PersonHero person={person} />
    <MediaGrid collection={[]} currentPage={1} pageCount={1}>
      <MediaCardList collection={collection} />
    </MediaGrid>
    <Footer />
  </div>
</Layout>
